{% extends '/layouts/main.twig' %}

{% form_theme form '/layouts/bulma.twig' %}

{% set body_class = 'login-page' %}
{% set page_title = 'Login' %}

{% block content %}
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container">
                <div class="columns login-container">
                    <div class="column is-offset-1 is-one-third is-clearfix">
                        <div class="login-logo is-hidden-touch is-pulled-right"></div>
                        <div class="login-logo is-hidden-desktop "></div>
                    </div>

                    <div class="column is-one-third">
                        <h1 class="title">Employee Login</h1>
                        <h2 class="subtitle">Timekeeping Authorization Manager</h2>

                        {% if errors.any %}
                            <div class="notification is-danger is-small">
                                {% for error in errors.all %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <form action="{{ app.request.getRequestUri() }}" method="POST">
                            {{ csrf_field() }}

                            <div class="field">
                                <p class="control has-icon">
                                    <input class="input" type="text" name="username" placeholder="Username" autofocus />
                                    <span class="icon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </p>
                            </div>

                            <div class="field">
                                <p class="control has-icon">
                                    <input class="input" type="password" name="password" placeholder="Password" />
                                    <span class="icon">
                                        <i class="fa fa-key"></i>
                                    </span>
                                </p>
                            </div>

                            <div class="field">
                                <button class="button is-primary is-pulled-right">
                                    <i class="fa fa-sign-in"></i> Login
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
