{% extends '/layouts/main.twig' %}

{% set page_title = 'Access Denied' %}
{% set body_class = 'error-page' %}

{% block content %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">Access Denied</h1>
                <h2 class="subtitle">You have no permission to access this page.</h2>
            </div>
        </div>
    </section>
{% endblock %}