{% extends '/layouts/dashboard.twig' %}

{% set page_title = 'Dashboard' %}
{% set active_menu = 'home' %}

{% block pageheader %}
	<div class="columns page-heading">
        <div class="column">
            <h1 class="heading">Home</h1>
        </div>
    </div>
{% endblock %}

{% block subcontent %}
    
{% endblock %}
