{% extends '/layouts/dashboard.twig' %}

{% form_theme form '/layouts/bulma.twig' %}

{% set page_title = 'View request' %}
{% set active_menu = 'inbox' %}

{% block subcontent %}
    <div class="columns">
        <div class="column">
            <div class="panel">
                <div class="panel-heading is-small">Request</div>
                <div class="box">
                    <div class="columns">
                        <div class="column is-6 is-offset-3">
                            <form action="{{ app.request.getRequestUri() }}" method="post">
                                {{ form_widget(form) }}

                                <div class="field">
                                    <p class="control">
                                        <button type="submit" class="button is-primary">Submit</button>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
