{% extends '/layouts/dashboard.twig' %}

{% form_theme form '/layouts/bulma.twig' %}

{% set page_title = 'Settings' %}
{% set active_menu = 'settings' %}

{% block subcontent %}
    <div class="columns">
        <div class="column is-12">
            <div class="panel">
                <p class="panel-heading is-small">{{ page_title }}</p>

                <div class="box is-clearfix">
                    <div class="columns">
                        <div class="column is-6 is-offset-3">
                            {% if password_change_required %}
                                <div class="notification is-warning is-small">
                                    <p>You are required by your administrator to change your password.</p>
                                </div>
                            {% endif %}

                            <form action="{{ app.request.getRequestUri() }}" method="POST">
                                {{ form_widget(form) }}

                                <div class="field is-grouped is-grouped-right">
                                    <p class="control">
                                        <button class="button is-primary" type="submit"><i class="fa fa-floppy-o"></i> Save</button>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
