.medium-toolbar-arrow-under {
    &:after {
        border-color: #006db7 transparent transparent transparent;
        top: 40px;
    }

    &:before {
        border-color: transparent transparent #006db7 transparent;
        top: -8px;
    }
}

.medium-editor-toolbar {
    li {
        button {
            background: #006db7;
            color: #fff;
            line-height: 0;
            height: 40px;

            &:hover {
                background: darken(#006db7, 15%);
            }
        }

        .medium-editor-button-active,
        .medium-editor-button-active:hover {
            background: darken(#006db7, 20%);
        }
    }
}

.medium-editor-toolbar-form {
    background: #242424;
    border-radius: 5px;
    color: #999;

    .medium-editor-toolbar-input {
        background: #242424;
        box-sizing: border-box;
        color: #ccc;
        height: 50px;
    }

    a {
        color: #fff;
    }
}

.medium-editor-toolbar-anchor-preview {
    background: #242424;
    border-radius: 5px;
    color: #fff;
}

.medium-editor-placeholder:after {
    color: #b3b3b1;
}
